.site-footer {
  background-color: $mainBlue;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;

  p {
    margin: 0;
  }

  &__text {
    display: block;
    font-weight: 300;
    margin-bottom: 1rem;

    @mixin atMedium {
      margin-bottom: 0;
      margin-right: 1rem;
      display: inline-block;
    }
  }
}